/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
and then centring the canvas (and anything else)
using the CSS Grid.

Also hides overflow.

**********************************************/

body {
  padding: 0;
  margin: 0;
  display: grid; /* Set up the grid and justify/align to center */
  justify-content: center;
  align-content: center;
  height: 100vh; /* Body is the height of the viewport */
  overflow: hidden; /* Hide anything that goes off the window size */
}

.screen {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #edb5ad;
  height: 500px;
  width: 850px;
}

.holder {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.screen img {
  width: 25%;
  height: auto;
  cursor: pointer; /* pointer cursor on hover */
}
